In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame({
    "Name":["Vero","Jane","Alice"],
    "height":["6","5","6"],
    "weight":[50,60,45]})

In [7]:
df

    Name height  weight
0   Vero      6      50
1   Jane      5      60
2  Alice      6      45

In [12]:
df["BMI"]=df[("weight"/"height")]

TypeError: unsupported operand type(s) for /: 'str' and 'str'